@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<EntityLayer.Concrete.Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kitaplar</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Home</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Kitaplar listesi</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <a href="/AdminBook/AddBook" class="btn btn-info" style="float:right;">+ Yeni Kitap ekle</a>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Kitap adı</th>
                                        <th>Yazar</th>
                                        <th>sayfa sayısı</th>
                                        <th>Tür</th>
                                        <th>Güncelle</th>
                                        <th>Sil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in Model)
                                    {
                                        <tr>
                                            <th>@i.BookId</th>
                                            <td>@i.Name</td>
                                            <td><a href="/AdminBook/AuthorBook/@i.Author.AuthorId"> @i.Author.Name @i.Author.Surname</a></td>
                                            <td>@i.Pages</td>
                                            <td><a href="/AdminTur/GenreBook/@i.Genres.GenreId">@i.Genres.Name </a></td>
                                            <td><a href="/AdminBook/UpdateBook/@i.BookId" class="btn btn-warning">Güncelle</a></td>
                                            <td><a href="/AdminBook/DeleteBook/@i.BookId" class="btn btn-danger">Sil</a></td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            @Html.PagedListPager((IPagedList)Model, p => Url.Action("Index", new { p }), new PagedListRenderOptions
                       {
                           LiElementClasses = new List<string>
                           {"page-link"}
                       })

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


