﻿@model EntityLayer.Concrete.Book
@{
    ViewBag.Title = "UpdateBook";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kitap Güncelle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/AdminBook/Index">Home</a></li>
                        <li class="breadcrumb-item active">Kitap Güncelle</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Kütüphane Otomasyonu Kitap güncelleme Sayfası</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        @using (Html.BeginForm("UpdateBook", "AdminBook", FormMethod.Post))
                        {
                            <div class="card-body">
                                <form role="form">
                                    <div class="form-group">
                                        @Html.Label("Kitap Id")
                                        @Html.TextBoxFor(x => x.BookId, new { @class = "form-control", @readonly = "readonly" })

                                        @Html.Label("Kitap Adı")
                                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Name)

                                        @Html.Label("Sayfa Sayısı")
                                        @Html.TextBoxFor(x => x.Pages, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Pages)

                                        @Html.Label("Tür Adı")
                                        @Html.DropDownListFor(x => x.GenreId, (List<SelectListItem>)ViewBag.GenreValues,
                                      new { @class = "form-control" })


                                        @Html.Label("Yazar Adı")
                                        @Html.DropDownListFor(x => x.AuthorId, (List<SelectListItem>)ViewBag.AuthorValues,
                                      new { @class = "form-control" })
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Kaydet</button>
                                    </div>
                                </form>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

