﻿@model EntityLayer.Concrete.Genre
@{
    ViewBag.Title = "Updatetur";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Tür Ekle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Tür Güncelle</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Kütüphane Otomasyonu Tür Ekleme Sayfası</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        @using (Html.BeginForm("Updatetur", "AdminTur", FormMethod.Post))
                        {
                            <div class="card-body">
                                <form role="form">
                                    <div class="form-group">
                                        @Html.Label("Tür Id")
                                        @Html.TextBoxFor(x => x.GenreId, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.Label("Türün Adı")
                                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Name)                                        
                                        @Html.Label("Türün Açıklaması")
                                        @Html.TextBoxFor(x => x.Info, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Info)
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Kaydet</button>
                                    </div>
                                </form>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


